<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
       <script>
    function logout() {
    window.location.replace('/logout');
    //window.location.reload();
    }
    </script>
    
    
    
</head>
<body>
    <div class="home">
    <div class="navigation">
      <div class="item">Home</div>
     <div class="item" onclick="logout();">Ausloggen</div>  
    </div>
    <div class="content">
      <div class="left">
      left
      </div>
      <div class="right">
       right
      </div>
    </div>

    </div>

</body>
</html>