<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <%- include('header'); -%>

<%= query.loginfail %>

<% if (Object.keys(query).includes("loginfail")) { %>
<div class="state error">Login Daten falsch</div>
<% } %>
    <div class="login">
    <h1>Einloggen</h1>
    <form method="get" action="login">
      <input placeholder="Benutzername" type="text" name="username" />
      <input placeholder="Passwort" type="password" name="password" />
      <input type="submit" />
    </form>
    </div>
</body>
</html>


