<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <%- include('header'); -%>

<%= query.loginfail %>

   <h1>Benutzer</h1>
    <div class="users">
         <div class="user">
       <div class="id">ID</div>
        <div class="username">Benutzername</div>
         <div class="actions">
         Aktionen
         </div>
     </div>
    <% for (let {id, username, password} of users){ %>
     <div class="user">
       <div class="id"><%= id %></div>
        <div class="username"><%= username %></div>
         <div class="actions">
         remove
         </div>
     </div>
<% } %>
    </div>
</body>
</html>


